<% elvegzett=[
  "eljutni idaig",
  "nincs tobb..."] %>

<h1>Jegyzeteim fo oldala...</h1>

<p>Aktualis feladat</p>
<div class="feladat">Belepteto rendszer, 1 userrel</div>

<hr>

<p>Elvegzett feladatok</p>
<ul>  
  <% elvegzett.each do |e| %>
    <li class="elvegzett"><%= e %></li>
  <% end %>
</ul>
