<%= render 'form' %>

<% elvegzett=[
  "Post letrehozas",
  "Belepteto rendszer, 1 userrel",
  "eljutni idaig",
  "nincs tobb..."] %>

<h2>Feladatok:</h2>

<p>Aktualis:</p>
<div class="feladat">Post megjelenites es modositas
</div>

<p>Elvegzett</p>
<ul>  
  <% elvegzett.each do |e| %>
    <li class="elvegzett"><%= e %></li>
  <% end %>
</ul>
