<ul>
  <% allposts=Post.all %>
  <% allposts.each do |f| %>
     <li>
       <%= link_to f.title, f %>
       <% if signed_in? %>
         <%= link_to "del", f, method: :delete, data: { confirm: "Biztos?" }, class: "post-del" %>
       <% end %>
     </li>
  <% end %>
</ul>