/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html{
  background-color: white;
  overflow-y: scroll;
}

body{
  width: 960px;
  margin: 0 auto;
  background-color: #eaeaea;
}

section{
  overflow: auto;
}

textarea{
  resize: vertical;
}

#navbar{
  float: left;
  width: 100%;
  background-color: #eaeaea;
  padding-bottom: 20px;
}

#navbar li{
  display: inline;
  float: left;
  text-decoration: none;
}

#navbar a, a:hover, a:visited, a:active{
  text-decoration: none;
  padding-left: 10px;
}

#content{
  float: left;
  width: 100%;
}

.feladat{
  color: red;
  padding-left: 40px;
}

.elvegzett{
  color: green;
}